.pages-number {
    list-style: none;
    display: flex;
}

.pages-number li {
    padding: 10px;
    border: 1px solid black;
    cursor: pointer;
}

.pages-number li:hover {
    background-color: rgb(222, 202, 176);
}

.pages-number li div {
    display: none;
}

.pages-number li.active {
    color: white;
    background-color: black;
}

.pages-number li.active div {
    background-color: aqua;
    color: black;
    display: block;
}

.pages-number li.active div:hover {
    background-color: rgb(59, 138, 138);
}

.pages-number li.work {
    visibility: hidden;
}