.pages-number {
    list-style: none;
    display: flex;
}

.pages-number li {
    padding: 10px;
    border: 1px solid black;
    cursor: pointer;
}

.pages-number li:hover {
    background-color: rgb(222, 202, 176);
}

.pages-number li.active {
    width: 80px;
    color: white;
    background-color: black;
}

.pages-number li.active  div {
    background-color: aqua;
    color: black;
    display: block;
}

.pages-number li.active div:hover {
    background-color: rgb(59, 138, 138);
}

.pages-number li.active div.upper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
}

.vertical-menu {
    width: 80px;
    max-height: 0;
    overflow-y: hidden;
    transition: all 0.5s;
}

.vertical-menu-show {
    width: 80px;
    height: 150px;
    overflow-y: auto;
    transition: all 0.5s;
    position:absolute;
}

.pages-number div.work {
    visibility: hidden;
}


.bg_gradient {

    /* ff 3.6+ */
    background:-moz-linear-gradient(0deg, rgba(23, 23, 24, 1) 85%, rgba(255, 255, 255, 1) 100%); 

    /* safari 5.1+,chrome 10+ */
    background:-webkit-linear-gradient(0deg, rgba(23, 23, 24, 1) 85%, rgba(255, 255, 255, 1) 100%);

    /* opera 11.10+ */
    background:-o-linear-gradient(0deg, rgba(23, 23, 24, 1) 85%, rgba(255, 255, 255, 1) 100%);

    /* ie 6-9 */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#171718', endColorstr='#FFFFFF', GradientType=1 );

    /* ie 10+ */
    background:-ms-linear-gradient(0deg, rgba(23, 23, 24, 1) 85%, rgba(255, 255, 255, 1) 100%);

    /* global 94%+ browsers support */
    background:linear-gradient(0deg, rgba(23, 23, 24, 1) 85%, rgba(255, 255, 255, 1) 100%);

}