.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 1rem 1rem;
}

.navbar-links {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.navbar-links_logo {
    margin-right: 2rem;
}

.navbar-links_logo img{
    width: 250px;
    /* height: 16px; */
}

.navbar-links_container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navbar-links_api,
#api_link {
    display: flex;
    align-items: flex-end;
    color: rgb(26, 177, 211);
}

.navbar-links_container p,
.navbar-links_api, 
.navbar-menu_container p {
    font-family: var(--font-family);
    /* font-weight: 500; */
    font-size: 18px;
    line-height: 25px;
    text-transform: capitalize;
    margin: 1rem 2rem;
    cursor: pointer;
}

.navbar-links_container p :hover, 
.navbar-menu_container p :hover{
    color: red;
}

.navbar-menu {
    margin-left: 1rem;
    display: none;
    position: relative;
}

.navbar-menu svg {
    cursor: pointer;
}

.navbar-menu_container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    text-align: end;

    background-color: aliceblue;
    padding: 0 1rem;
    position: absolute;
    top: 20px;
    right: 0;
    margin-top: 1rem;
    min-width: 210px;
    border-radius: 5px;
}

.navbar-menu_container p {
    margin: 1rem 0;
}

@media screen and (max-width: 900px) {
    .navbar-links_container p,
    .navbar-links_api {
        font-size: 13px;
    }
}

@media screen and (max-width: 750px) {
    .navbar-links_container p,
    .navbar-links_api {
        display: none;
    }

    .navbar-menu {
        display: flex;
    }
}

@media screen and (max-width: 400px) {
    .navbar-links_logo img{
        width: 100px;
    }
}
