@import url('https://fonts.googleapis.com/css2?family=Playfair Display');

:root {
    --font-family: 'Playfair Display', sans-serif;

    --color-bg: #171718;
    --color-card: #ede628;
    --color-text: #81AFDD;
    --color-subtext: #FF8A71;
}