@import url('https://fonts.googleapis.com/css2?family=Playfair Display');

:root {
    --font-family: 'Playfair Display', sans-serif;

    --gradient-card: linear-gradient(341deg, rgba(255, 255, 0, 1) 0%, rgba(251, 247, 142, 1) 74%);

    --color-bg: #171718;
    --color-card: #ede628;
}

::-webkit-scrollbar {
    width: 1em;
}

::-webkit-scrollbar-track {
    background: #434343;
}

::-webkit-scrollbar-thumb {
    background: #161616;
    border-radius: 100vw;
    border: .25em solid #161616;
    margin-block: .5em;
}

::-webkit-scrollbar-thumb:hover {
    background: #212121;
}